<header class="bg-white shadow-sm">
   <nav>
    <ul class="flex items-center justify-between">
        {% for item in site.navStructure %}
        <li>
        <a href="/{{ lang }}{{ item.url }}">
            {{ locales[lang].nav[item.key] }}
        </a>
        </li>
        {% endfor %}
    </ul>
    
    {# 语言切换器 #}
    <div class="lang-switcher">
        {% for langCode in site.supportedLangs %}
        {% if langCode != lang %}
            <a href="/{{ langCode }}{{ page.url | replace('/' + lang, '') }}"
            hreflang="{{ langCode }}">
            {{ langCode | upper }}
            </a>
        {% endif %}
        {% endfor %}
    </div>
    </nav>
</header>

