---
layout: layout/base.njk
pagination:
  data: site.supportedLangs
  size: 1
  alias: lang
permalink: "{{ lang }}/about/index.html"
eleventyComputed:
  meta:
    title: "{{ locales[lang].meta.about.title | safe }}"
    description: "{{ locales[lang].meta.about.description | safe }}"
    keywords: "{{ locales[lang].meta.about.keywords | safe }}"
---

{% set locale = locales[lang] %}
<article>
  <h1>{{ locale.nav.about }}</h1>
  <p>{{ locale.content.about }}</p>
  <button>{{ locale.buttons.cta }}</button>
</article>
