---
layout: layout/feature.njk
eleventyComputed:
  meta:
    title: "{{ locales[lang].meta.feature2.title | safe }}"
    description: "{{ locales[lang].meta.feature2.description | safe }}"
    keywords: "{{ locales[lang].meta.feature2.keywords | safe }}"
pagination:
  data: site.supportedLangs
  size: 1
  alias: lang
permalink: "{{ lang }}/feature-2/index.html"
---

{% set locale = locales[lang] %}

<section class="prose max-w-3xl mx-auto">
    <h2 class="text-3xl font-bold">{{ locale.content.feature2.title }}</h2>
    <ul>
        <li>{{ locale.content.feature2.description1 }}</li>
        <li>{{ locale.content.feature2.description2 }}</li>
        <li>{{ locale.content.feature2.description3 }}</li>
    </ul>
</section>